layout {
    pane_template name="ui" {
       pane size=1 borderless=true {
           plugin location="zellij:tab-bar"
       }
       children
       pane size=2 borderless=true {
           plugin location="zellij:status-bar"
       }
    }

    // resource dashboard
    tab_template name="dash" {
        ui split_direction="vertical" {
            pane size="80" split_direction="horizontal" {
                pane command="neofetch" size=23
                pane {
                    command "fish"
                    args "-c" "curl -s 'wttr.in/40.67,-73.98?1nFAq'"
                }
            }
        
            pane split_direction="horizontal" {
                pane size="60%" command="btm"
                pane name="cmd" focus=true
            }
        }
    }

    // start dash by default
    dash name="dash"

    // default new tab template
    new_tab_template {
        ui {
            pane split_direction="vertical" {
                pane size="70%" focus=true start_suspended=true {
                    command "hx"; args ".";
                }
                pane stacked=true {
                    pane name="a" expanded=true
                    pane name="b"
                    pane name="c"
                }
            }
        }
    }
}
