layout {
    pane_template name="zjtab" {
        borderless true
        plugin location="zellij:tab-bar"
    }

    pane_template name="zjstatus" {
        borderless true
        plugin location="zellij:status-bar"
    }

    pane_template name="split-edit" split_direction="vertical" {
            pane {
                name "edit" 
                focus true
                size "65%"
            }
            pane split_direction="horizontal" {
                children
            }
    }

    pane_template name="pane-default-dev" {
        zjtab size=1
        split-edit
        zjstatus size=2
    }

    new_tab_template {
        pane-default-dev {
            pane
            pane
        }
    }

    tab name="home" {
        zjtab size=1
        pane split_direction="vertical" {
            pane split_direction="horizontal" {
                pane command="neofetch"
                pane focus=true
            }
            
            pane size="82" stacked=true {
                pane command="btop" expanded=true
                pane name="cmd"
                children
            }
        }
        zjstatus size=2
    }
}
