layout {
    // builtin tab bar (top)
    pane_template name="zjtab" {
        borderless true
        plugin location="zellij:tab-bar"
    }

    // builtin status bar (bottom)
    pane_template name="zjstatus" {
        borderless true
        plugin location="zellij:status-bar"
    }

    pane_template name="with-status-bars" {
        zjtab size=1
        children
        zjstatus size=2
    }


    // basic dev editor setup
    pane_template name="edit-stacked-nav" {
        with-status-bars {
            pane split_direction="vertical" {
                pane {
                    command "hx"
                    args "."
                    size "120"
                    focus true
                    start_suspended true
                }
                pane stacked=true {
                    pane name="a" expanded=true
                    pane name="b"
                    pane name="c"
                    children
                }
            }
        }
    }

    // resource dashboard
    tab name="dash" focus=true {
        zjtab size=1
        pane split_direction="vertical" {
            pane size="80" split_direction="horizontal" {
                pane command="neofetch" size=22
                pane {
                    command "fish"
                    args "-c" "curl -s 'wttr.in/40.67,-73.98?1nFAq'"
                }
            }
        
            pane split_direction="horizontal" {
                pane size="60%" command="btm"
                pane name="cmd" focus=true
            }
        }
        zjstatus size=2
    }

    // default new tab template
    new_tab_template {
        edit-stacked-nav
    }
}
